<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" th:href="@{/styles/main.css}" />
</head>
<body>
	<header th:replace="~{fragments/header :: header}"></header>

	<main>
		<form method="post" th:action="@{/auth/login}">
			<h2>Please sign in</h2>
			<p th:if="${loginError}" class="error">Wrong user or password</p>
			<p>
				<label for="username">Username</label> <input type="text"
					id="username" name="username" placeholder="Username" required>
			</p>
			<p>
				<label for="password">Password</label> <input type="password"
					id="password" name="password" placeholder="Password" required>
			</p>

			<!-- <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"> -->
			<button type="submit">Sign in</button>
		</form>
	</main>
</body>
</html>