<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" th:href="@{/styles/main.css}" />
</head>
<body>
	<header th:replace="~{fragments/header :: header}"></header>

	<main>
		<form method="POST" th:action="@{/auth/registration}"
			th:object="${user}">
			<fieldset>
				<legend>Registration form</legend>
				<p th:if="${usernameExist}" class="error">This username already exists!</p>
				<div>
					<label for="username">Username</label> <input type="text"
						id="username" name="username" placeholder="Username" required th:field="*{username}">
					<div class="error" th:if="${#fields.hasErrors('username')}"
						th:errors="*{username}"></div>
				</div>
				<div>
					<label for="password">Password</label> <input type="password"
						id="password" name="password" placeholder="Password" required
						th:field="*{password}">
					<div class="error" th:if="${#fields.hasErrors('password')}"
						th:errors="*{password}"></div>
				</div>

				<button type="submit">Registration</button>
			</fieldset>
		</form>
	</main>
</body>
</html>