<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" th:href="@{/styles/main.css}" />
</head>
<body>
	<header th:replace="~{fragments/header :: header}"></header>

	<main>
		<form th:action="@{#}">
			<fieldset>
				<legend>Выбор смартфона по id</legend>
				<div>
					<label for="smartphoneId">ID смартфона</label> <input
						id="smartphoneId" name="smartphoneId" type="number" min="0"
						required>
				</div>
			</fieldset>
			<input type="submit" value="Отправить">
		</form>
	</main>

</body>
</html>