<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" th:href="@{/styles/main.css}" />
</head>
<body>
	<header th:replace="~{fragments/header :: header}"></header>

	<main>
		<table>
			<tr>
				<th>id</th>
				<th>Производитель</th>
				<th>Название модели</th>
				<th>Процессор</th>
				<th>Вес смартфона (гр)</th>
				<th>Год выхода</th>
				<th></th>
			</tr>
			<tr th:each="item : ${items}">
				<td th:text="${item.getId()}"  ></td>
				<td th:text="${item.getManufacturer()}"></td>
				<td th:text="${item.getModelType()}"></td>
				<td th:text="${item.getProcessorType()}"></td>
				<td th:text="${item.getWeight()}"></td>
				<td th:text="${item.getReleaseYear()}"></td>
				
				<td th:switch="${item.getEnabled()}">
					<div th:case="true">
						<form action="/smartphones/buy" method="GET">
							<input type="hidden" th:value="${item.getId()}" name="itemId">
							<input type="submit" value="Купить">
						</form>
					</div>
					<div th:case="false">Нет в наличии</div>
				</td>
			</tr>
		</table>
	</main>
</body>
</html>
