<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" th:href="@{/styles/main.css}" />
</head>
<body>
	<header th:replace="~{fragments/header :: header}"></header>

	<main>
		<form th:method="POST" th:action="@{#}" th:object="${smartphone}">
			<fieldset>
				<legend id="form_title">Добавление смартфона в БД</legend>

				<div>
					<label for="manufacturer">Производитель</label> <input
						id="manufacturer" name="manufacturer" type="text" required
						th:field="*{manufacturer}">
					<div class="error" th:if="${#fields.hasErrors('manufacturer')}"
						th:errors="*{manufacturer}"></div>
				</div>
				<div>
					<label for="modelType">Название модели</label> <input
						id="modelType" name="modelType" type="text" required
						th:field="*{modelType}">
					<div class="error" th:if="${#fields.hasErrors('modelType')}"
						th:errors="*{modelType}"></div>
				</div>
				<div>
					<label for="processorType">Название процессора</label> <input
						id="processorType" name="processorType" type="text" required
						th:field="*{processorType}">
					<div class="error" th:if="${#fields.hasErrors('processorType')}"
						th:errors="*{processorType}"></div>
				</div>
				<div>
					<label for="weight">Вес смартфона (в граммах)</label> <input
						id="weight" name="weight" type="number" min="0" required
						th:field="*{weight}">
					<div class="error" th:if="${#fields.hasErrors('weight')}"
						th:errors="*{weight}"></div>
				</div>
				<div>
					<label for="releaseYear">Год выхода модели в продажу</label> <input
						id="releaseYear" name="releaseYear" type="number" min="0" required
						th:field="*{releaseYear}">
					<div class="error" th:if="${#fields.hasErrors('releaseYear')}"
						th:errors="*{releaseYear}"></div>
				</div>
			</fieldset>

			<input type="submit" value="Создать">
		</form>
	</main>
</body>
</html>