<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" th:href="@{/styles/main.css}" />
</head>
<body>
	<header th:replace="~{fragments/header :: header}"></header>

	<main>
		<p>Привет</p>
		<p>Данный сайт предназначен для взаимодействия с таблицей,
			содержащей информацию о смартфонах.</p>
	</main>
</body>
</html>
